.cambioFlujoEdadDiv{
    height: 15%;
    width: 100%;
}

.circuloFlex{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    &__circulo{
        border-radius: 50%;
        border: 3px solid white;
        width: 59px;
        height: 59px;
        display: flex;     
        justify-content: center;
        align-items: center;  
        position: absolute;
 
        &__o{
            font-family: Georgia;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: white;
            margin-bottom: 0.25em;
            position: absolute;    
        }
    }
}
.flechaFlex{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 36%;
    width: 100%;
    &__flecha{
        position: absolute;
        
        &:hover{
            transform: rotate(180deg);
        }
    }
}

.barraFlex{
    display: flex;
    justify-content: center;
    align-content: center;
    
    &__barra{
        height: 1.875em;
        width:  0.1875em;
        background-color: rgb(255, 255, 255);
        position: absolute;    
    }
}   

.c-container-chronology{  
    width: 100%;
    height: 93%; 
    margin-right: 5%; 
    
    &-scroll{
        margin-top: 0.4%;
        height: 83%;
        margin-left: 31.2%;
        overflow-x: hidden;
        overflow-y: auto;
        display: inline-block;
        
    }
}

.margintop{
    margin-top: 0.6%;
}