
.chronology-card {
    border-top: 0.1875em white solid;
    border-radius: 1px;
    width: 22.6875em;
    height:11.25em;
    border-right: 0.1875em white solid;
       
    &-div{
        width: 22.6875em;
        height:6.25em;
        display: flex;
        justify-content: center;
    
        &__img{
            width: 6.25em;
            height:6.25em;
            border-radius: 50%;        
            
        }

    }
    
    &__hover {    
        
        
        
        
        &__p{
            margin-top: 2px;
            width: 363px;
            height:40px;
            text-align: center;       
            font-family: Georgia;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color:white;    
        }    
 
        &__fig {
            width: 363px;
            height:29px;
            text-align: center;       
            font-family: 'got';
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color:white;     
        }
    
    }
}

